<header class="header">
  <div class="user-info">
    Welcome, <span style="font-weight: bold;">
      <%= user.full_name %>
    </span>
  </div>
  <nav class="nav">
    <a href="/inbox">Inbox</a>
    <a href="/outbox">Outbox</a>
    <a href="/compose">Compose</a>
    <form action="/signout" method="POST">
      <button id="signout_btn" type="submit">Sign Out</button>
    </form>
  </nav>
</header>